<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Cliente</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    {{!--Bootstrap--}}
    <link rel="stylesheet" type="text/html" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css" integrity="sha384-B4dIYHKNBt8Bc12p"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    {{!--iconos--}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {{!--styles--}}
    <link rel="stylesheet" href="/css/styles.css">-->
</head>
<body>
    <div class="container  p-5">
      <div class="row justify-content-center">
       <div class="col-lg-5">
           <div class="card">
               <div class="card-body ">
                   <label class="col-form-label-lg">Agregar Cliente</label>
                <form action="/links/add" method="POST">
                <div class="form-group">
                    <Label>Nombre del cliente</Label>
                    <input type="text" class=" form-control"name="nombrecliente" placeholder="Nombre del Cliente" id="nombrecliente" autofocus>
                    <input type="text" class="form-control" name="id" id="id">
                </div>
                <div class="form-group"><label>Direccion</label>
                    <input type="text" class="form-control" name="direccion" placeholder="Direccion" id="direccion">
                </div>
                 <div class="form-group"><label>Estado</label>
                    <input type="text" class="form-control" name="estado" placeholder="Estado" id="estado">
                </div>   
                <div class="form-group">  <Label>Ciudad</Label>
                    <input type="text" class="form-control" name="ciudad" placeholder="Ciudad" id="ciudad"></div>
                  <div class="form-group">
                      <button class="btn btn-success btn-block">Guardar</button>
                  </div>
                </div>
                </form>
               </div>
           </div>
       </div>
    
   </div>
</div>

</body>
</html>



